.Gif {
  color: white;
  display: inline-block;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  position: relative;
}


.Gif-link {
  color: #000;
  display: block;
  text-decoration: none;
  position: relative;
  width: 100%;
}

.Gif-Container{
  margin: 10px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Gif img {
    object-fit: contain;
    width: 150px !important;
    height: 100%;
  }

  .Gif h4 {
    font-size: 5px;
    position: absolute;
    top: 10px;
    left: 80px;
    background-color: gray;
  }

}

@media screen and (min-width: 60rem) {
  .Gif img {
    object-fit: contain;
    width: 300px !important;
    height: 100%;
  }

  .Gif h4 {
    font-size: 7px;
    position: absolute !important;
    top: 10px;
    left: 80px;
    background-color: gray;
  }

}